# コンパイルされたバイナリ
/target/

# rust-analyzer
/.rust-analyzer/

# .vscode/

# rustfmtフォーマットツールによって生成されたバックアップファイル
**/*.rs.bk

# 環境変数のオーバーライド
.env

# バックアップファイル、スワップファイルなどを無視
*~
.*.sw*
.DS_Store
